<div class="container-fluid">
  <div class="col-6">
    <table class="table">
      <thead>
        <tr>
          <th class="h4">#</th>
          <th class="h4">Marca</th>
          <th class="h4">Línea</th>
          <th class="h4">Modelo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let v of vehicles">
          <td id="id">
            <dd>{{v.id}}</dd>
          </td>
          <td id="marca">
            <dd>{{v.marca}}</dd>
          </td>
          <td id="linea">
            <dd>{{v.linea}}</dd>
          </td>
          <td id="modelo">
            <dd>{{v.modelo}}</dd>
          </td>
        </tr>
      </tbody>
    </table>
    <h4 *ngFor="let e of elements">{{e.marca}}: {{e.quantity}}</h4>
  </div>
</div>
